body{
    background-color: #F1F1F3;
    margin: 0px 160px;
    width: 1280px;
    margin: 0 auto;
}

/* shared Card */

.primary-card {
    height: 325px;
    width: 410px;
    padding: 32px;
    border-radius: 10px;
    margin: 32px 0px;
}

.primary-title {
    font-weight: bold;
    font-size: 40px;
}

.primary-btn {
    width: 122px;
    height: 41px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.primary-container {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.primary-satellite {
    padding: 56px 48px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 24px 0px;
}

.donate {
    height: 128px;
    width: 243px;
    font-size: 40px;
    font-weight: 900;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* nav style  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 31px 0px;
}
.web-title{
    font-size: 32px;
    font-weight: bold;
}
.singIn-btn{
    border: 1px solid #006A50;
    color: #006A50;
    font-weight: 700;
    font-size: 18px;
}


/* Banner Styles  */
.banner-section {
    background-color: #C6E4D6;
    margin-top: 20px;
    height: 560px;
    border-radius: 10px;
    /* width: 1280px; */
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 117px 59px;
}

.banner-heading {
    font-size: 24px;
}

.banner-title {
    font-size: 56px;
    font-weight: bold;
    width: 622px;
}

.explore {
    width: 270px;
    height: 56px;
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;

}


/* <!-- Pillars of "Bangladesh 2.0"  --> */
.pillars-container{
    margin: 80px 0px;
}
.general-card-container{
    display: flex;
    gap: 24px;
}

.general-card{
    height: 244px;
    width: 302px;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 5px;
}
.general-title{
    margin-top: 24px;
    margin-bottom: 12px;
}

.general-description{
    height: 72px;
    width: 254px;
    font-size: 16px;
}



/* vision styles  */
.vision-container {
    margin: 80px 0px;
}

.card-container {
    display: flex;
    gap: 24px;

}

.card {
    background-color: #b0cbf1;
}

.card-2 {
    background-color: #C6E4D6;
}

.card-3 {
    background-color: #F7EBCF;
}

.card-content {
    width: 346px;
    height: 108px;
    margin: 24px 0px;
}



.card-btn {
    background-color: #5490F5;
}

.card-btn-2 {
    background-color: #09A15C;
}

.card-btn-3 {
    background-color: #FFC239;
}


/* satellite styles  */
.satellite-container-reverse {
    flex-direction: row-reverse;

}

.satellite-img {
    border-radius: 10px;
}

.time-container {
    display: flex;
    gap: 12px;
}

.satellite-btn {
    background-color: #006A50;
}

/* Donations style  */
.donation-container {
    margin: 80px 0px;
}

.donation-content {
    text-align: center;
}

.donate-description {
    height: 48px;
    width: 1104px;
    margin: 0 auto;
}

.donate-amount-container {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.amount-1:hover {
    background-color: rgb(194, 229, 229);
}

.amount-2:hover {
    background-color: rgb(204, 119, 119);
    color: #FFFFFF;
}

.amount-3:hover {
    background-color: rgb(40, 52, 52);
    color: #FFFFFF;
}

.amount-4:hover {
    background-color: rgb(190, 154, 249);
    color: #F1F1F3;
}

.donation-input {
    height: 64px;
    width: 1032px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.donate-btn {
    background-color: #006A50;
    text-align: center;
    display: block;
    margin: 32px auto;
}

/* Subscribe Container  */
.subscribe-section {
    padding: 80px 265px;
    background-color: #C6E4D6;
    border-radius: 10px;
    margin: 80px 0px;
}

.subscribe-title {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-description {
    width: 622px;
    height: 48px;
    text-align: center;
    margin: 24px auto;
}

.subscribe {
    width: 600px;
    height: 55px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.subscribe-btn {
    width: 150px;
    height: 56px;
    background-color: #006A50;
    color: #F1F1F3;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.promise {
    text-align: center;
    margin: 24px;
}


/* Footer Style  */
.footer-title{
    text-align: center;
    margin: 32px 0px;
}
 hr{
    width: 1122px;
 }
.footer-link{
    margin: 32px 0px;
    text-align: center;
    
}
.footer-link > a >img{
    margin-left: 23px;
    height: 24px;
    width: 24px;
}