body {
    margin: 0px 160px;
    width: 1280px;
    margin: 0 auto;
}


/* shared Card */

.primary-card {
    height: 325px;
    width: 410px;
    padding: 32px;
    border-radius: 10px;
    margin: 32px 0px;
}

.primary-title {
    font-weight: bold;
    font-size: 40px;
}

.primary-btn {
    width: 122px;
    height: 41px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.primary-container {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.primary-satellite{
    padding: 56px 48px;
    background-color: #F1F1F3;
    border-radius: 10px;
    margin: 24px 0px;
}


/* Banner Styles  */
.banner-section {
    background-color: #C6E4D6;
    margin-top: 20px;
    height: 560px;
    border-radius: 10px;
    /* width: 1280px; */
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 117px 59px;
}

.banner-heading {
    font-size: 24px;
}

.banner-title {
    font-size: 56px;
    font-weight: bold;
    width: 622px;
}

.explore {
    width: 270px;
    height: 56px;
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;

}


/* vision styles  */
.vision-container {
    margin: 80px 0px;
}

.card-container {
    display: flex;
    gap: 24px;

}

.card {
    background-color: #b0cbf1;
}

.card-2 {
    background-color: #C6E4D6;
}

.card-3 {
    background-color: #F7EBCF;
}

.card-content {
    width: 346px;
    height: 108px;
    margin: 24px 0px;
}



.card-btn {
    background-color: #5490F5;
}

.card-btn-2 {
    background-color: #09A15C;
}

.card-btn-3 {
    background-color: #FFC239;
}


/* satellite styles  */
.satellite-container-reverse {
    flex-direction: row-reverse;
    
}

.satellite-img {
    border-radius: 10px;
}

.time-container {
    display: flex;
    gap: 12px;
}

.satellite-btn {
    background-color: #006A50;
}